$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$color-orange: #F38160;
$color-light-grey: #949494;
$color-dark-grey: #403C39;

$poppins-font: "Poppins", sans-serif;
$montserrat-font: "Montserrat", sans-serif;
