@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Poppins:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #F38160;
  text-decoration: underline;
  font-weight: 300;
  text-transform: capitalize;
}

h1, span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #403C39;
  font-size: 69px;
}
h1 span, span span {
  color: #F38160;
}

p.hero_subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #949494;
  font-size: 20px;
}

p.product_title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #403C39;
  font-size: 18px;
  margin-bottom: 6px;
}

p.product_description {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #949494;
  font-size: 14px;
}

.btn {
  color: white;
  background-color: #F38160;
  padding: 12px 35px;
  border-radius: 16px;
  display: inline-block;
  text-decoration: none;
  font-weight: 300;
  text-transform: capitalize;
}
.btn:hover {
  background-color: #ef5b31;
}

.btn-search {
  background-color: #F38160;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-color: #F38160;
  border: 0;
  display: inline-block;
  padding: 10px 20px;
}
.btn-search:hover {
  background-color: #ef5b31;
}

input {
  border: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 16px;
  background-color: rgba(208, 208, 210, 0.25);
  display: inline-block;
  padding: 10px 20px;
}
input::placeholder {
  font-weight: 300;
}

nav.main_menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
}
nav.main_menu ul a {
  color: #949494;
  font-weight: 300;
  text-decoration: none;
}
nav.main_menu ul a.active, nav.main_menu ul a:hover {
  color: #F38160;
  position: relative;
}
nav.main_menu ul a.active::before, nav.main_menu ul a:hover::before {
  content: "";
  position: absolute;
  background-color: #F38160;
  height: 2px;
  width: 80%;
  bottom: -10px;
  left: 7%;
}

header.header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.header div.header_login ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
}
header.header div.header_login ul .cart img {
  width: 25px;
}

div.container {
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.hero {
  display: flex;
  justify-content: space-between;
}
.hero_main {
  width: 50%;
}
.hero_main .hero_title {
  padding-top: 70px;
  margin-bottom: 16px;
}
.hero_main .hero_subtitle {
  max-width: 80%;
  margin-bottom: 40px;
}
.hero_main .searchbar {
  display: flex;
  justify-content: stretch;
  max-width: 60%;
  margin-bottom: 30px;
}
.hero_main .searchbar input {
  flex: 1;
}
.hero_main .features ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  max-width: 60%;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
  position: relative;
}
.hero_main .features ul li p {
  padding-left: 25px;
  font-weight: 300;
  color: #949494;
}
.hero_main .features ul li:before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../../img/check.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
}
.hero_image {
  width: 50%;
}
.hero_image img {
  max-width: 500px;
}

.products {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  margin-bottom: 25px;
}

.product_box img {
  margin-left: auto;
  margin-right: auto;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
